#titulo{
   text-align: center; 
   color: white;
   font-family: 'Fredoka One', cursive;
    font-family: 'Redressed', cursive;
   font-size: 25px;
}

#informacion{

    text-align: left; 
    color: rgb(0, 0, 0);
    font-size: 22px;   
    margin-left: 40px;
    font-family: 'Cormorant', serif;
    line-height: 200%;
    
}

#informacion p{
    background-color: #d1c2cc;
    width: 890px;
    float:left;
    margin-left: 30px;
    padding: 25px;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;
}

#redes:link{
    color: rgb(190, 134, 243);
    font-size: 22px;margin-left: 500px;
    margin-left: 515px;
    
}

#redes:visited{
    color: rgb(228, 64, 200);
}

#redes:hover {
    color: white;
}

#yo{
    padding: 25px;
    margin-right: 40px;
    margin-top: 0px;
    float: right;
    width: 380px;
    
}

#yo:hover{-webkit-transform:scale(1.3);transform:scale(1.3);}
#yo {overflow:hidden;}

body{
 background-color: bisque;   
}

#boton{
    font-family: 'Fredoka One', cursive;
    font-family: 'Redressed', cursive;
    color: #000000;
    font-size: 18px;
    padding: 7px;
    text-decoration: none;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 35px;
    margin-left: 500px; 
    background-image: -webkit-linear-gradient(top, #fdf9fc, #e7b0e4);
}