#titulo{
    text-align: center; 
    color: white;
    font-family: 'Fredoka One', cursive;
     font-family: 'Redressed', cursive;
    font-size: 30px;
 }

 #Numeros{
    font-family: 'Cormorant', serif;
    font-size: 24px;   
    background-color: #db87d6;
    width: 480px;
   margin-left: 50px;
    margin-top: 50px;
    padding: 35px;
    border-radius: 5px;
    box-shadow: rgba(9, 30, 66, 0.25) 0px 4px 8px -2px, rgba(9, 30, 66, 0.08) 0px 0px 0px 1px;

 }

 #boton{
    font-family: 'Fredoka One', cursive;
    font-family: 'Redressed', cursive;
    color: #000000;
    font-size: 20px;
    padding: 7px;
    text-decoration: none;
    -webkit-border-radius: 20;
    -moz-border-radius: 20;
    border-radius: 35px;
    margin-top: 20px;
    margin-left: 250px; 
    
    background-image: -webkit-linear-gradient(top, #fdf9fc, #e7b0e4);
}


#operaciones{
    padding: 25px;
    margin-right: 300px;
    float: right;
    width: 400px;
    
}


.division{
    text-align: left; 
    color: rgb(0, 0, 0);
    font-size: 20px;   
    margin-left: 40px;
    font-family: 'Fredoka One', cursive;
     font-family: 'Redressed', cursive;
    line-height: 200%;
    
}

.suma{
    text-align: left; 
    color: rgb(0, 0, 0);
    font-size: 20px;   
    margin-left: 40px;
    font-family: 'Fredoka One', cursive;
     font-family: 'Redressed', cursive;
    line-height: 200%;
    
}

.resta{
    text-align: left; 
    color: rgb(0, 0, 0);
    font-size: 20px;   
    margin-left: 40px;
    font-family: 'Fredoka One', cursive;
     font-family: 'Redressed', cursive;
    line-height: 200%;
    
}

 body{
     background-color: salmon;
 }